In [ ]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
pip install rarfile

Requirement already satisfied: rarfile in /usr/local/lib/python3.10/dist-packages (4.1)

In [ ]:
import rarfile

01_02_17_VSE

In [ ]:
path = '/content/drive/MyDrive/diploma/!01_02_17_VSE.csv' #/content/drive/MyDrive/diploma/
df01_02_17=pd.read_csv(path,sep=';' , encoding = 'cp1251')

In [ ]:
df01_02_17 = df01_02_17[df01_02_17.Телефон_new != 0]

In [ ]:
df01_02_17 = df01_02_17[df01_02_17.Количество != 0]

In [ ]:
df01_02_17 = df01_02_17[df01_02_17.Цена != 0]

In [ ]:
df01_02_17 = df01_02_17[df01_02_17.ГородМагазина != 0]

In [ ]:
df01_02_17.drop(columns=['НомерСтроки'], inplace=True)

In [ ]:
df2 = df01_02_17.groupby('Телефон_new'). size().reset_index(name='count'). sort_values(['count'], ascending= False )

In [ ]:
df3 = df2[df2['count'] > 80]

In [ ]:
df01_02_17[df01_02_17.Телефон_new == '0']

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,Группа2,...,СуммаУслуг,СуммаДоставки,КоличествоПроданоКлиенту,ДатаЗаказаНаСайте,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина,МагазинЗаказа
987,02.01.2017 16:12,13.01.2017 0:00,3532330_TR,Принят в ПВЗ,1 394,1 394,Магазины,Безналичная,Челябинск,ПОДГУЗНИКИ,...,99,99,1,03.01.2017 0:00,0,109117_mu18@mail.ru,Олеся,IDL00023647351,0,NaN
1004,02.01.2017 16:12,13.01.2017 0:00,3532330_TR,Принят в ПВЗ,1 394,1 394,Магазины,Безналичная,Челябинск,NaN,...,99,99,1,03.01.2017 0:00,0,109117_mu18@mail.ru,Олеся,IDL00017241351,0,NaN
1612,02.01.2017 17:13,04.01.2017 0:00,3533101_TR,Отменен,290,0,Курьерская,Наличная,Москва,ОБУВЬ,...,0,0,0,04.01.2017 0:00,0,101117_eu24@workmail.ru,Захаркина,IDL00031332957,0,NaN
2145,02.01.2017 17:34,04.01.2017 0:00,3530014_TR,Возврат из ПВЗ,3 550,3 550,Магазины,Безналичная,Железнодорожный (Московская область район),ОБУВЬ,...,0,0,0,05.01.2017 0:00,0,guest_103117_gu28@workmail.ru,Гость,ID9010000744755,0,NaN
2153,02.01.2017 17:34,04.01.2017 0:00,3530014_TR,Возврат из ПВЗ,3 550,3 550,Магазины,Безналичная,Железнодорожный (Московская область район),ОБУВЬ,...,0,0,0,05.01.2017 0:00,0,guest_103117_gu28@workmail.ru,Гость,IDL00008268755,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542267,28.02.2017 15:23,16.03.2017 0:00,3993975_TR,Принят в ПВЗ,2 150,2 150,Магазины,Безналичная,Тюмень,ИГРУШКИ,...,0,0,1,28.02.2017 0:00,0,97117_au19@mail.ru,Алла,IDL00043255755,0,NaN
542390,28.02.2017 13:38,02.03.2017 0:00,3992600_TR,Доставлен,3 319,3 319,Магазины,Безналичная,Москва,ОБУВЬ,...,0,0,1,28.02.2017 0:00,0,101109_em24@gmail.com,Малышкин,IDL00035668048,0,NaN
542420,28.02.2017 15:11,02.03.2017 0:00,3993859_TR,Доставлен,861,861,Магазины,Безналичная,Москва,ИГРУШКИ,...,0,0,1,28.02.2017 0:00,0,110117_nu18@detoc.ru,Куценко,ID000sm-2314452,0,NaN
542421,28.02.2017 15:11,02.03.2017 0:00,3993859_TR,Доставлен,861,861,Магазины,Безналичная,Москва,ИГРУШКИ,...,0,0,1,28.02.2017 0:00,0,110117_nu18@detoc.ru,Куценко,IDL00008361351,0,NaN
542422,28.02.2017 15:11,02.03.2017 0:00,3993859_TR,Доставлен,861,861,Магазины,Безналичная,Москва,ИГРУШКИ,...,0,0,1,28.02.2017 0:00,0,110117_nu18@detoc.ru,Куценко,IDL00008361351,0,NaN

In [ ]:
df01_02_17=df01_02_17[~df01_02_17.Телефон_new.isin(df3.Телефон_new)]

In [ ]:
df01_02_17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501342 entries, 0 to 542502
Data columns (total 37 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Дата                      501342 non-null  object
 1   ДатаДоставки              500956 non-null  object
 2   НомерЗаказаНаСайте        501342 non-null  object
 3   НовыйСтатус               501342 non-null  object
 4   СуммаЗаказаНаСайте        501342 non-null  object
 5   СуммаДокумента            501342 non-null  object
 6   МетодДоставки             501342 non-null  object
 7   ФормаОплаты               501339 non-null  object
 8   Регион                    497265 non-null  object
 9   Группа2                   456504 non-null  object
 10  Группа3                   456504 non-null  object
 11  Группа4                   433810 non-null  object
 12  Тип                       501342 non-null  object
 13  Номенклатура              501342 non-null  object
 14  ТипТовара                 456504 non-null  object
 15  Отменено                  501342 non-null  object
 16  ПричинаОтмены             31558 non-null   object
 17  Количество                501342 non-null  int64
 18  Цена                      501342 non-null  object
 19  СуммаСтроки               501342 non-null  object
 20  ЦенаЗакупки               453814 non-null  object
 21  МесяцДаты Заказа          501342 non-null  int64
 22  ГодДатыЗаказа             501342 non-null  object
 23  ПВЗ_код                   307155 non-null  object
 24  Статус                    501342 non-null  object
 25  Гео                       501342 non-null  object
 26  Маржа                     453814 non-null  object
 27  СуммаУслуг                501342 non-null  object
 28  СуммаДоставки             501342 non-null  object
 29  КоличествоПроданоКлиенту  501342 non-null  int64
 30  ДатаЗаказаНаСайте         501342 non-null  object
 31  Телефон_new               501342 non-null  object
 32  ЭлектроннаяПочта_new      491708 non-null  object
 33  Клиент                    501242 non-null  object
 34  ID_SKU                    501342 non-null  object
 35  ГородМагазина             501342 non-null  object
 36  МагазинЗаказа             3225 non-null    object
dtypes: int64(3), object(34)
memory usage: 145.3+ MB

In [ ]:
df01_02_17 = df01_02_17.rename(columns={'МесяцДаты Заказа': 'МесяцДатыЗаказа'})

In [ ]:
toys_df01_02_17 = df01_02_17[df01_02_17['Тип'] == 'ИГРУШКИ']

In [ ]:
gr_toys_df01_02_17 = toys_df01_02_17[['Дата', 'СуммаСтроки']].copy()

print(gr_toys_df01_02_17.head())

               Дата СуммаСтроки
4  01.01.2017 17:38       1 069
5  01.01.2017 17:38       6 858
6  01.01.2017 17:38       6 858
7  01.01.2017 17:38       6 858
8  01.01.2017 17:38       6 858

In [ ]:
gr_toys_df01_02_17['Дата'] = pd.to_datetime(gr_toys_df01_02_17['Дата'], format='%d.%m.%Y %H:%M')
gr_toys_df01_02_17['Дата'] = gr_toys_df01_02_17['Дата'].dt.strftime('%d.%m.%Y')

print(gr_toys_df01_02_17)

              Дата СуммаСтроки
4       01.01.2017       1 069
5       01.01.2017       6 858
6       01.01.2017       6 858
7       01.01.2017       6 858
8       01.01.2017       6 858
...            ...         ...
542494  28.02.2017       2 772
542495  28.02.2017       3 013
542497  28.02.2017       2 146
542498  28.02.2017       2 678
542499  28.02.2017       1 249

[126634 rows x 2 columns]

03_04_17

In [ ]:
# rar_archive = rarfile.RarFile('/content/drive/MyDrive/diploma/!03_04_17_VSE.rar')
# extract_path = '/content/drive/MyDrive/diploma/'
# rar_archive.extractall(extract_path)
# rar_archive.close()

In [ ]:
path = '/content/drive/MyDrive/diploma/!03_04_17_VSE.csv'
df03_04_17=pd.read_csv(path,sep=';' , encoding = 'cp1251')

In [ ]:
df03_04_17 = df03_04_17[df03_04_17.Телефон_new != 0]
df03_04_17 = df03_04_17[df03_04_17.Количество != 0]
df03_04_17 = df03_04_17[df03_04_17.Цена != 0]
df03_04_17 = df03_04_17[df03_04_17.ГородМагазина != 0]
df03_04_17.drop(columns=['НомерСтроки'], inplace=True)

In [ ]:
df2 = df03_04_17.groupby('Телефон_new'). size().reset_index(name='count'). sort_values(['count'], ascending= False )
df3 = df2[df2['count'] > 80]
df03_04_17[df03_04_17.Телефон_new == '0']
df03_04_17=df03_04_17[~df03_04_17.Телефон_new.isin(df3.Телефон_new)]

In [ ]:
df03_04_17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 633967 entries, 0 to 691538
Data columns (total 37 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Дата                      633967 non-null  object
 1   ДатаДоставки              633479 non-null  object
 2   НомерЗаказаНаСайте        633967 non-null  object
 3   НовыйСтатус               633967 non-null  object
 4   СуммаЗаказаНаСайте        633967 non-null  object
 5   СуммаДокумента            633967 non-null  object
 6   МетодДоставки             633967 non-null  object
 7   ФормаОплаты               633967 non-null  object
 8   Регион                    629020 non-null  object
 9   Группа2                   561790 non-null  object
 10  Группа3                   561790 non-null  object
 11  Группа4                   533929 non-null  object
 12  Тип                       633967 non-null  object
 13  Номенклатура              633967 non-null  object
 14  ТипТовара                 561790 non-null  object
 15  Отменено                  633967 non-null  object
 16  ПричинаОтмены             43842 non-null   object
 17  Количество                633967 non-null  int64
 18  Цена                      633967 non-null  object
 19  СуммаСтроки               633967 non-null  object
 20  ЦенаЗакупки               559734 non-null  object
 21  МесяцДатыЗаказа           633967 non-null  int64
 22  ГодДатыЗаказа             633967 non-null  object
 23  ПВЗ_код                   425698 non-null  object
 24  Статус                    633967 non-null  object
 25  Гео                       633967 non-null  object
 26  Маржа                     559734 non-null  object
 27  СуммаУслуг                633967 non-null  object
 28  СуммаДоставки             633967 non-null  object
 29  КоличествоПроданоКлиенту  633967 non-null  int64
 30  ДатаЗаказаНаСайте         633967 non-null  object
 31  Телефон_new               633967 non-null  object
 32  ЭлектроннаяПочта_new      621509 non-null  object
 33  Клиент                    633623 non-null  object
 34  ID_SKU                    633967 non-null  object
 35  ГородМагазина             633967 non-null  object
 36  МагазинЗаказа             4812 non-null    object
dtypes: int64(3), object(34)
memory usage: 183.8+ MB

In [ ]:
toys_df03_04_17 = df03_04_17[df03_04_17['Тип'] == 'ИГРУШКИ']

In [ ]:
gr_toys_df03_04_17 = toys_df03_04_17[['Дата', 'СуммаСтроки']].copy()

print(gr_toys_df03_04_17.head())

                Дата СуммаСтроки
2   01.03.2017 12:31       3 325
4   01.03.2017 11:38         199
5   01.03.2017 12:19         719
61  01.03.2017 16:33         529
62  01.03.2017 16:33         299

In [ ]:
gr_toys_df03_04_17['Дата'] = pd.to_datetime(gr_toys_df03_04_17['Дата'], format='%d.%m.%Y %H:%M')
gr_toys_df03_04_17['Дата'] = gr_toys_df03_04_17['Дата'].dt.strftime('%d.%m.%Y')
print(gr_toys_df03_04_17)

              Дата СуммаСтроки
2       01.03.2017       3 325
4       01.03.2017         199
5       01.03.2017         719
61      01.03.2017         529
62      01.03.2017         299
...            ...         ...
691510  16.04.2017         409
691520  16.04.2017         190
691521  16.04.2017       1 390
691535  17.04.2017         464
691538  17.04.2017         318

[138701 rows x 2 columns]

05_06_17

In [ ]:
# rar_archive = rarfile.RarFile('/content/drive/MyDrive/diploma/!05_06_17_VSE.rar')
# extract_path = '/content/drive/MyDrive/diploma/'
# rar_archive.extractall(extract_path)
# rar_archive.close()

In [ ]:
path = '/content/drive/MyDrive/diploma/!05_06_17_VSE.csv'
df05_06_17=pd.read_csv(path,sep=';' , encoding = 'cp1251')

In [ ]:
df05_06_17 = df05_06_17[df05_06_17.Телефон_new != 0]
df05_06_17 = df05_06_17[df05_06_17.Количество != 0]
df05_06_17 = df05_06_17[df05_06_17.Цена != 0]
df05_06_17 = df05_06_17[df05_06_17.ГородМагазина != 0]
df05_06_17.drop(columns=['НомерСтроки'], inplace=True)

In [ ]:
df2 = df05_06_17.groupby('Телефон_new'). size().reset_index(name='count'). sort_values(['count'], ascending= False )
df3 = df2[df2['count'] > 80]
df05_06_17[df05_06_17.Телефон_new == '0']
df05_06_17=df05_06_17[~df05_06_17.Телефон_new.isin(df3.Телефон_new)]

In [ ]:
df05_06_17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 670452 entries, 0 to 730557
Data columns (total 37 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Дата                      670452 non-null  object
 1   ДатаДоставки              670069 non-null  object
 2   НомерЗаказаНаСайте        670452 non-null  object
 3   НовыйСтатус               670452 non-null  object
 4   СуммаЗаказаНаСайте        670452 non-null  object
 5   СуммаДокумента            670452 non-null  object
 6   МетодДоставки             670450 non-null  object
 7   ФормаОплаты               670450 non-null  object
 8   Регион                    665400 non-null  object
 9   Группа2                   573392 non-null  object
 10  Группа3                   573392 non-null  object
 11  Группа4                   547264 non-null  object
 12  Тип                       670452 non-null  object
 13  Номенклатура              670452 non-null  object
 14  ТипТовара                 573392 non-null  object
 15  Отменено                  670452 non-null  object
 16  ПричинаОтмены             47637 non-null   object
 17  Количество                670452 non-null  int64
 18  Цена                      670452 non-null  object
 19  СуммаСтроки               670452 non-null  object
 20  ЦенаЗакупки               570668 non-null  object
 21  МесяцДатыЗаказа           670452 non-null  int64
 22  ГодДатыЗаказа             670452 non-null  object
 23  ПВЗ_код                   479821 non-null  object
 24  Статус                    670452 non-null  object
 25  Гео                       670452 non-null  object
 26  Маржа                     570668 non-null  object
 27  СуммаУслуг                670452 non-null  object
 28  СуммаДоставки             670452 non-null  object
 29  КоличествоПроданоКлиенту  670452 non-null  int64
 30  ДатаЗаказаНаСайте         670452 non-null  object
 31  Телефон_new               670452 non-null  object
 32  ЭлектроннаяПочта_new      658436 non-null  object
 33  Клиент                    670183 non-null  object
 34  ID_SKU                    670452 non-null  object
 35  ГородМагазина             670452 non-null  object
 36  МагазинЗаказа             5049 non-null    object
dtypes: int64(3), object(34)
memory usage: 194.4+ MB

In [ ]:
toys_df05_06_17 = df05_06_17[df05_06_17['Тип'] == 'ИГРУШКИ']

In [ ]:
gr_toys_df05_06_17 = toys_df05_06_17[['Дата', 'СуммаСтроки']].copy()

print(gr_toys_df05_06_17.head())

                Дата СуммаСтроки
8   01.05.2017 10:00         199
21   01.05.2017 2:09         299
22   01.05.2017 2:09         152
23   01.05.2017 2:09         190
24   01.05.2017 2:09         220

In [ ]:
gr_toys_df05_06_17['Дата'] = pd.to_datetime(gr_toys_df05_06_17['Дата'], format='%d.%m.%Y %H:%M')
gr_toys_df05_06_17['Дата'] = gr_toys_df05_06_17['Дата'].dt.strftime('%d.%m.%Y')
print(gr_toys_df05_06_17)

              Дата СуммаСтроки
8       01.05.2017         199
21      01.05.2017         299
22      01.05.2017         152
23      01.05.2017         190
24      01.05.2017         220
...            ...         ...
730490  30.06.2017       1 350
730533  30.06.2017         225
730537  30.06.2017          90
730541  30.06.2017      221,35
730545  30.06.2017         330

[131891 rows x 2 columns]

07_08_17

In [ ]:
# rar_archive = rarfile.RarFile('/content/drive/MyDrive/diploma/!07_08_17_VSE.rar')
# extract_path = '/content/drive/MyDrive/diploma/'
# rar_archive.extractall(extract_path)
# rar_archive.close()

In [ ]:
path = '/content/drive/MyDrive/diploma/!07_08_17_VSE.csv'
df07_08_17=pd.read_csv(path,sep=';' , encoding = 'cp1251')

In [ ]:
df07_08_17 = df07_08_17[df07_08_17.Телефон_new != 0]
df07_08_17 = df07_08_17[df07_08_17.Количество != 0]
df07_08_17 = df07_08_17[df07_08_17.Цена != 0]
df07_08_17 = df07_08_17[df07_08_17.ГородМагазина != 0]
df07_08_17.drop(columns=['НомерСтроки'], inplace=True)

In [ ]:
df2 = df07_08_17.groupby('Телефон_new'). size().reset_index(name='count'). sort_values(['count'], ascending= False)
df3 = df2[df2['count'] > 80]
df07_08_17[df07_08_17.Телефон_new == '0']
df07_08_17=df07_08_17[~df07_08_17.Телефон_new.isin(df3.Телефон_new)]

In [ ]:
toys_df07_08_17 = df07_08_17[df07_08_17['Тип'] == 'ИГРУШКИ']

In [ ]:
gr_toys_df07_08_17 = toys_df07_08_17[['Дата', 'СуммаСтроки']].copy()

print(gr_toys_df07_08_17.head())

                Дата СуммаСтроки
29   01.07.2017 0:01       3 040
42   01.07.2017 0:24       1 652
74  01.07.2017 10:19       5 510
77   01.07.2017 0:27       3 040
84   01.07.2017 0:27       3 799

In [ ]:
gr_toys_df07_08_17['Дата'] = pd.to_datetime(gr_toys_df07_08_17['Дата'], format='%d.%m.%Y %H:%M')
gr_toys_df07_08_17['Дата'] = gr_toys_df07_08_17['Дата'].dt.strftime('%d.%m.%Y')
print(gr_toys_df07_08_17)

              Дата СуммаСтроки
29      01.07.2017       3 040
42      01.07.2017       1 652
74      01.07.2017       5 510
77      01.07.2017       3 040
84      01.07.2017       3 799
...            ...         ...
797177  31.08.2017       1 670
797180  31.08.2017       1 670
797186  31.08.2017         129
797189  31.08.2017          71
797191  31.08.2017         449

[140067 rows x 2 columns]

09_10_17

In [ ]:
path = '/content/drive/MyDrive/diploma/!09_10_17_VSE.csv'
df09_10_17=pd.read_csv(path,sep=';' , encoding = 'cp1251')

In [ ]:
df09_10_17 = df09_10_17[df09_10_17.Телефон_new != 0]
df09_10_17 = df09_10_17[df09_10_17.Количество != 0]
df09_10_17 = df09_10_17[df09_10_17.Цена != 0]
df09_10_17 = df09_10_17[df09_10_17.ГородМагазина != 0]
df09_10_17.drop(columns=['НомерСтроки'], inplace=True)

In [ ]:
df2 = df09_10_17.groupby('Телефон_new'). size().reset_index(name='count'). sort_values(['count'], ascending= False )
df3 = df2[df2['count'] > 80]
df09_10_17[df09_10_17.Телефон_new == '0']
df09_10_17=df09_10_17[~df09_10_17.Телефон_new.isin(df3.Телефон_new)]

In [ ]:
toys_df09_10_17 = df09_10_17[df09_10_17['Тип'] == 'ИГРУШКИ']

In [ ]:
gr_toys_df09_10_17 = toys_df09_10_17[['Дата', 'СуммаСтроки']].copy()

print(gr_toys_df09_10_17.head())

               Дата СуммаСтроки
1  01.09.2017 11:34       1 382
2  01.09.2017 11:34         843
3  01.09.2017 11:34         239
5   01.09.2017 0:05       2 495
6   01.09.2017 0:05       1 969

In [ ]:
gr_toys_df09_10_17['Дата'] = pd.to_datetime(gr_toys_df09_10_17['Дата'], format='%d.%m.%Y %H:%M')
gr_toys_df09_10_17['Дата'] = gr_toys_df09_10_17['Дата'].dt.strftime('%d.%m.%Y')

print(gr_toys_df09_10_17)

              Дата СуммаСтроки
1       01.09.2017       1 382
2       01.09.2017         843
3       01.09.2017         239
5       01.09.2017       2 495
6       01.09.2017       1 969
...            ...         ...
876058  31.10.2017       1 339
876064  31.10.2017         165
876065  31.10.2017       1 892
876072  31.10.2017       2 564
876073  31.10.2017       2 564

[164311 rows x 2 columns]

11_17

In [ ]:
path = '/content/drive/MyDrive/diploma/!11_17_VSE.csv'
df11_17=pd.read_csv(path,sep=';' , encoding = 'cp1251')

<ipython-input-51-5fa2e7f72981>:2: DtypeWarning: Columns (27,28,32,33,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df11_17=pd.read_csv(path,sep=';' , encoding = 'cp1251')

In [ ]:
df11_17 = df11_17[df11_17.Телефон_new != 0]
df11_17 = df11_17[df11_17.Количество != 0]
df11_17 = df11_17[df11_17.Цена != 0]
df11_17 = df11_17[df11_17.ГородМагазина != 0]
df11_17.drop(columns=['НомерСтроки'], inplace=True)

In [ ]:
df2 = df11_17.groupby('Телефон_new'). size().reset_index(name='count'). sort_values(['count'], ascending= False )
df3 = df2[df2['count'] > 80]
df11_17[df11_17.Телефон_new == '0']
df11_17=df11_17[~df11_17.Телефон_new.isin(df3.Телефон_new)]

In [ ]:
toys_df11_17 = df11_17[df11_17['Тип'] == 'ИГРУШКИ']

In [ ]:
gr_toys_df11_17 = toys_df11_17[['Дата', 'СуммаСтроки']].copy()

print(gr_toys_df11_17.head())

               Дата СуммаСтроки
11  01.11.2017 0:12       7 010
19  01.11.2017 0:12          36
22  01.11.2017 0:12          61
32  01.11.2017 0:12       1 199
53  01.11.2017 0:12         152

In [ ]:
gr_toys_df11_17['Дата'] = pd.to_datetime(gr_toys_df11_17['Дата'], format='%d.%m.%Y %H:%M')
gr_toys_df11_17['Дата'] = gr_toys_df11_17['Дата'].dt.strftime('%d.%m.%Y')

print(gr_toys_df11_17)

              Дата СуммаСтроки
11      01.11.2017       7 010
19      01.11.2017          36
22      01.11.2017          61
32      01.11.2017       1 199
53      01.11.2017         152
...            ...         ...
557041  30.11.2017         239
557044  30.11.2017         161
557045  30.11.2017         259
557047  30.11.2017          49
557049  30.11.2017          20

[152993 rows x 2 columns]

12_17

In [ ]:
path = '/content/drive/MyDrive/diploma/!12_17_VSE.csv'
df12_17=pd.read_csv(path,sep='\t' , encoding = 'cp1251')

<ipython-input-57-c0346dc073ff>:2: DtypeWarning: Columns (32,33,34,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df12_17=pd.read_csv(path,sep='\t' , encoding = 'cp1251')

In [ ]:
df12_17

,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,Группа2,...,СуммаДоставки,НомерСтроки,КоличествоПроданоКлиенту,ДатаЗаказаНаСайте,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина,МагазинЗаказа
0,01.12.2017 0:25,07.12.2017 0:00,6434318_TR,Доставлен,867,748,Магазины,Безналичная,Жуковский (Московская область район),NaN,...,49,1,1,30.11.2017 0:00,55574954-51545354525272,105117_iu23@mail.ru,Юлия,ID10022107250,0,NaN
1,01.12.2017 0:25,07.12.2017 0:00,6434318_TR,Доставлен,867,748,Магазины,Безналичная,Жуковский (Московская область район),ИГРУШКИ,...,49,2,1,30.11.2017 0:00,55574954-51545354525272,105117_iu23@mail.ru,Юлия,IDL00038555452,0,NaN
2,01.12.2017 0:25,07.12.2017 0:00,6434318_TR,Доставлен,867,748,Магазины,Безналичная,Жуковский (Московская область район),ИГРУШКИ,...,49,1,1,30.11.2017 0:00,55574954-51545354525272,105117_iu23@mail.ru,Юлия,IDL00043421250,0,NaN
3,01.12.2017 0:25,07.12.2017 0:00,6434318_TR,Доставлен,867,748,Магазины,Безналичная,Жуковский (Московская область район),ИГРУШКИ,...,49,5,1,30.11.2017 0:00,55574954-51545354525272,105117_iu23@mail.ru,Юлия,IDL00051051048,0,NaN
4,01.12.2017 0:25,07.12.2017 0:00,6434318_TR,Доставлен,867,748,Магазины,Безналичная,Жуковский (Московская область район),"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",...,49,3,1,30.11.2017 0:00,55574954-51545354525272,105117_iu23@mail.ru,Юлия,IDL00056856048,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626609,31.12.2017 23:56,13.01.2018 0:00,6945534_TR,Доставлен,971,971,Магазины,Безналичная,Самара,NaN,...,99,1,0,31.12.2017 0:00,NaN,NaN,NaN,NaN,NaN,NaN
626610,31.12.2017 23:59,13.01.2018 0:00,6945524_TR,Доставлен,1 179,1 179,Магазины,Безналичная,Белгород,NaN,...,99,1,0,31.12.2017 0:00,NaN,NaN,NaN,NaN,NaN,NaN
626611,31.12.2017 23:59,13.01.2018 0:00,6945524_TR,Доставлен,1 179,1 179,Магазины,Безналичная,Белгород,ИГРУШКИ,...,99,1,0,31.12.2017 0:00,NaN,NaN,NaN,NaN,NaN,NaN
626612,31.12.2017 23:59,04.01.2018 0:00,6945526_TR,Отменен,7 049,150,Курьерская,Наличная,Москва,NaN,...,150,1,0,31.12.2017 0:00,NaN,NaN,NaN,NaN,NaN,NaN
626613,31.12.2017 23:59,04.01.2018 0:00,6945526_TR,Отменен,7 049,150,Курьерская,Наличная,Москва,"ТЕКСТИЛЬ, ТРИКОТАЖ",...,150,1,0,31.12.2017 0:00,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df12_17 = df12_17[df12_17.Телефон_new != 0]
df12_17 = df12_17[df12_17.Количество != 0]
df12_17 = df12_17[df12_17.Цена != 0]
df12_17 = df12_17[df12_17.ГородМагазина != 0]
df12_17.drop(columns=['НомерСтроки'], inplace=True)

In [ ]:
df2 = df12_17.groupby('Телефон_new'). size().reset_index(name='count'). sort_values(['count'], ascending= False )
df3 = df2[df2['count'] > 80]

In [ ]:
df12_17[df12_17.Телефон_new == '0']
df12_17=df12_17[~df12_17.Телефон_new.isin(df3.Телефон_new)]

In [ ]:
toys_df12_17 = df12_17[df12_17['Тип'] == 'ИГРУШКИ']

In [ ]:
gr_toys_df12_17 = toys_df12_17[['Дата', 'СуммаСтроки']].copy()

print(gr_toys_df12_17.head())

              Дата СуммаСтроки
1  01.12.2017 0:25         325
2  01.12.2017 0:25         150
3  01.12.2017 0:25         124
4  01.12.2017 0:25         100
5  01.12.2017 0:25         119

In [ ]:
gr_toys_df12_17['Дата'] = pd.to_datetime(gr_toys_df12_17['Дата'], format='%d.%m.%Y %H:%M')
gr_toys_df12_17['Дата'] = gr_toys_df12_17['Дата'].dt.strftime('%d.%m.%Y')

print(gr_toys_df12_17)

              Дата СуммаСтроки
1       01.12.2017         325
2       01.12.2017         150
3       01.12.2017         124
4       01.12.2017         100
5       01.12.2017         119
...            ...         ...
626597  31.12.2017         422
626599  31.12.2017         703
626605  31.12.2017          90
626608  31.12.2017         872
626611  31.12.2017       1 080

[245331 rows x 2 columns]

01_02_18

In [ ]:
path = '/content/drive/MyDrive/diploma/!01_02_18_VSE.csv'
df01_02_18=pd.read_csv(path,sep=';' , encoding = 'cp1251')

<ipython-input-65-3afd7666ca55>:2: DtypeWarning: Columns (9,10,11,14,16,20,26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df01_02_18=pd.read_csv(path,sep=';' , encoding = 'cp1251')

In [ ]:
df01_02_18 = df01_02_18[df01_02_18.Телефон_new != 0]
df01_02_18 = df01_02_18[df01_02_18.Количество != 0]
df01_02_18 = df01_02_18[df01_02_18.Цена != 0]
df01_02_18 = df01_02_18[df01_02_18.ГородМагазина != 0]
df01_02_18.drop(columns=['НомерСтроки'], inplace=True)

In [ ]:
df2 = df01_02_18.groupby('Телефон_new'). size().reset_index(name='count'). sort_values(['count'], ascending= False )
df3 = df2[df2['count'] > 80]
df01_02_18[df01_02_18.Телефон_new == '0']
df01_02_18=df01_02_18[~df01_02_18.Телефон_new.isin(df3.Телефон_new)]

In [ ]:
toys_df01_02_18 = df01_02_18[df01_02_18['Тип'] == 'ИГРУШКИ']

In [ ]:
gr_toys_df01_02_18 = toys_df01_02_18[['Дата', 'СуммаСтроки']].copy()

print(gr_toys_df01_02_18.head())

                Дата СуммаСтроки
2   07.02.2018 16:16         809
4   06.02.2018 12:34         128
9   01.02.2018 12:00          81
11  02.02.2018 21:23          46
12  08.02.2018 14:12          14

In [ ]:
gr_toys_df01_02_18['Дата'] = pd.to_datetime(gr_toys_df01_02_18['Дата'], format='%d.%m.%Y %H:%M')
gr_toys_df01_02_18['Дата'] = gr_toys_df01_02_18['Дата'].dt.strftime('%d.%m.%Y')

print(gr_toys_df01_02_18)

              Дата СуммаСтроки
2       07.02.2018         809
4       06.02.2018         128
9       01.02.2018          81
11      02.02.2018          46
12      08.02.2018          14
...            ...         ...
693705  24.01.2018         214
693706  23.01.2018         214
693707  23.01.2018         214
693708  23.01.2018         214
693709  23.01.2018         214

[138278 rows x 2 columns]

In [ ]:
gr_toys_df01_02_18['Дата'] = pd.to_datetime(gr_toys_df01_02_18['Дата'], format='%d.%m.%Y')
gr_toys_df01_02_18 = gr_toys_df01_02_18.sort_values(by='Дата')

In [ ]:
gr_toys_df01_02_18

             Дата СуммаСтроки
486237 2018-01-01         538
486236 2018-01-01         889
542607 2018-01-01       1 098
542596 2018-01-01       2 245
586635 2018-01-02         292
...           ...         ...
351630 2018-02-28          77
351623 2018-02-28         545
351609 2018-02-28       1 671
351704 2018-02-28         671
373224 2018-02-28       2 020

[138278 rows x 2 columns]

In [ ]:
gr_toys_df01_02_18['Дата'] = pd.to_datetime(gr_toys_df01_02_18['Дата'], format='%d.%m.%Y %H:%M')
gr_toys_df01_02_18['Дата'] = gr_toys_df01_02_18['Дата'].dt.strftime('%d.%m.%Y')

### Cоздание временного ряда

In [ ]:
all_toys = pd.concat([gr_toys_df01_02_17, gr_toys_df03_04_17, gr_toys_df05_06_17, gr_toys_df07_08_17, gr_toys_df09_10_17, gr_toys_df11_17, gr_toys_df12_17, gr_toys_df01_02_18], ignore_index=True)

In [ ]:
all_toys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238206 entries, 0 to 1238205
Data columns (total 2 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Дата         1238206 non-null  object
 1   СуммаСтроки  1238206 non-null  object
dtypes: object(2)
memory usage: 18.9+ MB

In [ ]:
all_toys

               Дата СуммаСтроки
0        01.01.2017       1 069
1        01.01.2017       6 858
2        01.01.2017       6 858
3        01.01.2017       6 858
4        01.01.2017       6 858
...             ...         ...
1238201  28.02.2018          77
1238202  28.02.2018         545
1238203  28.02.2018       1 671
1238204  28.02.2018         671
1238205  28.02.2018       2 020

[1238206 rows x 2 columns]

### Объединение в годовой датафрейм

In [ ]:
all_df = pd.concat([df01_02_17, df03_04_17, df05_06_17, df07_08_17, df09_10_17, df11_17, df12_17, df01_02_18], ignore_index=True)

In [ ]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5155115 entries, 0 to 5155114
Data columns (total 37 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Дата                      object
 1   ДатаДоставки              object
 2   НомерЗаказаНаСайте        object
 3   НовыйСтатус               object
 4   СуммаЗаказаНаСайте        object
 5   СуммаДокумента            object
 6   МетодДоставки             object
 7   ФормаОплаты               object
 8   Регион                    object
 9   Группа2                   object
 10  Группа3                   object
 11  Группа4                   object
 12  Тип                       object
 13  Номенклатура              object
 14  ТипТовара                 object
 15  Отменено                  object
 16  ПричинаОтмены             object
 17  Количество                int64
 18  Цена                      object
 19  СуммаСтроки               object
 20  ЦенаЗакупки               object
 21  МесяцДатыЗаказа           int64
 22  ГодДатыЗаказа             object
 23  ПВЗ_код                   object
 24  Статус                    object
 25  Гео                       object
 26  Маржа                     object
 27  СуммаУслуг                object
 28  СуммаДоставки             object
 29  КоличествоПроданоКлиенту  int64
 30  ДатаЗаказаНаСайте         object
 31  Телефон_new               object
 32  ЭлектроннаяПочта_new      object
 33  Клиент                    object
 34  ID_SKU                    object
 35  ГородМагазина             object
 36  МагазинЗаказа             object
dtypes: int64(3), object(34)
memory usage: 1.4+ GB

In [ ]:
nan_count = all_df.isna().sum()
print(nan_count)

Дата                              0
ДатаДоставки                   3587
НомерЗаказаНаСайте                0
НовыйСтатус                       0
СуммаЗаказаНаСайте                0
СуммаДокумента                    0
МетодДоставки                    93
ФормаОплаты                      96
Регион                        33002
Группа2                      851985
Группа3                      851987
Группа4                     1036962
Тип                               0
Номенклатура                      0
ТипТовара                    851985
Отменено                          0
ПричинаОтмены               4801225
Количество                        0
Цена                              0
СуммаСтроки                       0
ЦенаЗакупки                  891181
МесяцДатыЗаказа                   0
ГодДатыЗаказа                     0
ПВЗ_код                     1403946
Статус                            0
Гео                               0
Маржа                        891181
СуммаУслуг                        0
СуммаДоставки                     0
КоличествоПроданоКлиенту          0
ДатаЗаказаНаСайте                 0
Телефон_new                 1147549
ЭлектроннаяПочта_new        1220391
Клиент                      1150610
ID_SKU                      1149592
ГородМагазина               1149592
МагазинЗаказа               5123205
dtype: int64

In [ ]:
all_df = all_df.dropna(subset=['Телефон_new'])

In [ ]:
#all_df.info()

In [ ]:
all_df['Статус'].unique()

array(['Возврат', 'Доставлен', 'В процессе', 'Отменен', 'Не определен'],
      dtype=object)

- КГТ- крупногабаритная техника
- ППКП - подгузники, товары для гигиены и ухода за младенцем, продукты для кормления (бутылочки, пустышки, поильники и т.д.), детское питание (смеси, каши и т.д.

In [ ]:
unique_values = all_df[all_df['Тип'] == 'ИНОЕ']['Группа2'].unique()
print(unique_values)

[nan 'ТОВАРЫ ДЛЯ ЖИВОТНЫХ' 'ЖЕНСКИЕ ШТУЧКИ' 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА']

In [ ]:
nan_count = all_df.isna().sum()
print(nan_count)

Дата                              0
ДатаДоставки                   2776
НомерЗаказаНаСайте                0
НовыйСтатус                       0
СуммаЗаказаНаСайте                0
СуммаДокумента                    0
МетодДоставки                     7
ФормаОплаты                      10
Регион                        27808
Группа2                      643873
Группа3                      643873
Группа4                      792816
Тип                               0
Номенклатура                      0
ТипТовара                    643873
Отменено                          0
ПричинаОтмены               3743658
Количество                        0
Цена                              0
СуммаСтроки                       0
ЦенаЗакупки                  681123
МесяцДатыЗаказа                   0
ГодДатыЗаказа                     0
ПВЗ_код                     1132636
Статус                            0
Гео                               0
Маржа                        681123
СуммаУслуг                        0
СуммаДоставки                     0
КоличествоПроданоКлиенту          0
ДатаЗаказаНаСайте                 0
Телефон_new                       0
ЭлектроннаяПочта_new          72842
Клиент                         3061
ID_SKU                         2043
ГородМагазина                  2043
МагазинЗаказа               3980749
dtype: int64

удалили столбцы с большим количеством пропусков

In [ ]:
all_df.drop(['МагазинЗаказа', 'ПричинаОтмены'], axis=1, inplace=True)

In [ ]:
all_df["Тип"].unique()

array(['ОДЕЖДА', 'ППКП', 'ИГРУШКИ', 'КГТ', 'ИНОЕ'], dtype=object)

In [ ]:
all_df.to_csv('/content/drive/MyDrive/diploma/all_df.csv', index=False)